@model SlumpadeKontakter.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Skapa ny kontakt";
}

<div class="container modal-content">
    <h2>Skapa ny kontakt</h2>

    @Html.Partial("~/Views/Home/_ContactForm.cshtml")

</div>