@model SlumpadeKontakter.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Redigera kontakt";
}

<div class="container modal-content">
    <h2>Redigera kontakt</h2>

    @Html.Partial("~/Views/Home/_ContactForm.cshtml")  
</div>
